header {
    text-align: center;
}

main {
    text-align: center;
}

.map {
    display: block;
    width: 100%;
    margin: 0 auto;
    /* background: yellow; */
}

iframe {
    width: 75%;
    height: 50vh;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 10px 20px;
}

#location img {
    display: block;
    width: 50%;
    margin: 0 auto;
}