body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background: #ddd;
}
h1 {
    font-weight:300;
}


.map {
    display: block;
    width: 100%;
    margin: 0 auto;
    /* background: yellow; */
}

iframe {
    width: 75%;
    height: 50vh;
    box-shadow: 0 0 25px 5px #444;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 10px 20px;
}
#location {
margin: 20px;
}

#location img {
    display: block;
    width: 50%;
    margin: 0 auto;
}